h1 {
    text-align: center;
}

#user-input {
    margin-bottom: 20px;
}

.no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.no-data h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}